.main-contacto{
    background-color: nth($list: $colores, $n:3 ) ;
    section{
        .contenedor{
            color: nth($list: $colores, $n:2 );
            display: grid;
            grid-template-columns: 2fr;
            gap: 2%;
            justify-items: start;
            padding: 20px;
        }
        div{
            .formulario{
                border: nth($list: $colores, $n:2 );
                border-radius:2px;
                overflow: hidden;
                padding: 5px;
            }
        }
    }
}