.main-sobrenosotros{
    background-color: nth($list: $colores, $n:3 );
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    div{
        img{
            width: 100%;
            height: auto;
        }
        div{
            h2{
                padding-right: 10px;
                padding-left: 10px;
            }
            p{
                
                padding-right: 10px;
                padding-left: 10px;
            }
            p strong{
                color: violet;
            }
        }
    }
}